@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;700&display=swap');



*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
  background-repeat: no-repeat;
}
.landing{
  width: 70rem;
  position: absolute;
  top: 50%;
  left : 50%;
  transform: translate(-50%,-50%);
}

.about{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cards{
  display: flex;
  flex-direction: row;
}

.person{
  display: flex;
  flex-direction: row;
}

.intro{
  width: 50%;
}

.about{
  padding-bottom: 2rem;
}

.photo img{
  width: max-content;
  transform: scale(0.5);
  border-radius: 50%;
}

.name{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: hsl(333, 80%, 57%);
  font-family: 'Spartan', sans-serif;
  font-weight: 100;
  font-size: 15px;
}

.desc{
  width: 50%;
  display: flex;
  flex-direction: row;
  min-width: max-content;
  padding: 1em;
  margin-bottom:1em;
  background-color: hsl(300, 24%, 96%);
  border-radius: 5px;
}

.stars{
  margin-right: 2em;
}

.rating{
  margin: auto 0;

}

.two{
  margin-left: 2em;
}

.three{
  margin-left: 4em;
}

.card{
  width: 25rem;
  height: 13rem;
  background-color: hsl(300, 43%, 22%);
  padding: 0em 2rem;
  margin-right: 1rem;
  border-radius: 5px;
}

.second{
  margin-top: 2rem;
}

.third{
  margin-top:4rem;
}

.intro h1{
  color: hsl(300, 43%, 22%);
  font-family: 'Spartan', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
}

.intro p{
  font-family: 'Spartan', sans-serif;
  color: hsl(303, 10%, 53%);
  font-weight: 400;
  width: 38ch;
}

#strong{
  font-family: 'Spartan', sans-serif;
  color:white;
  font-weight: 500;
}

.review p{
  color: hsl(300, 24%, 96%);
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  font-weight: 400;
}


@media (max-width: 1000px){
  .landing{
    top:0;
    left:0;
    transform: translate(0%,0%);
  }
  .intro{
    width: 90vw;
    text-align: center;
    margin-bottom: 1rem;
  }
  .rating{
    width:90vw;
    text-align: center;
  }
  .about{
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .landing{
    width: 90vw;
    margin: 2rem;
  }
  .intro p{
    width: 90vw;
    margin: 0 auto;
  }
  .desc{
    width: 90vw;
    flex-direction: column;
  }
  .two , .three{
    margin-left:0;
  }
  .second, .third{
    margin-top: 1rem;
  }
  .stars{
    margin-right: 0;
  }
  .card{
    margin-right: 0;
    width:90vw;
  }
  .third{
    margin-bottom: 1rem;
  }
  body{
    background-image: url("images/bg-pattern-top-mobile.svg"), url("images\bg-pattern-bottom-mobile.svg");
  }
}
